KERNEL=="card0", SUBSYSTEM=="drm", ACTION=="change", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/tim/.Xauthority", RUN+="/home/tim/git/dwm/assets/displayhandler"
