# Copy to /usr/share/xsessions for sddm to recognize dwm
[Desktop Entry]
Type=XSession
Exec=/usr/local/bin/dwm
TryExec=/usr/local/bin/dwm
DesktopNames=dwm
Name=dwm
Comment=Dynamic Window Manager
